body{
    margin: 0;
    background: green;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 70px;
    background: orange;
}

#home{
    background: black;
    height: 700px;
}
#page2{
    background: yellow;
    height: 700px;
}
#gallery{
    background: red;
    height: 700px;
}