@font-face {
    font-family: Rochester;
    src: url(Rochester-Regular.ttf);
}
body{
    margin: 0;
    text-align: center;
    background-color: #fbc5b8;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 60px;
    text-align: end;
    position:absolute;
}

#home{
    background-image: url('valami2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 700px;
    text-align: center;
}

#homecenter{
    font-family: "Rochester", cursive;
    font-weight: 400;
    position:relative;
    top: 20%;
    color: #D27F78;
    font-size: 50px;
}

#page2{
    height: 700px;
}
#gallery{
    height: 700px;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.ring{
    height: 150px;
    width: 150px;
    background-color: #D27F78;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 5px;
    position:relative;
    top: 20%;
}

.ring-circle{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: dashed 2px white;
    padding-top: 13px;
}

nav{
    height: 70px;
    width: 70vw;
    min-width: 600px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #555555;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 20px 20px 0px 20px;
}

a:after{
    content: "";
    position: absolute;
    background-color: #D27F78;
    height: 3px;
    width: 0;
    left: 20%;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #ffffff;
}

a:hover:after{
    width: 60%;

}

.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
