@font-face {
    font-family: Rochester;
    src: url(Rochester-Regular.ttf);
}
@font-face {
    font-family: Diphylleia;
    src: url(Diphylleia-Regular.ttf);
}

body{
    margin: 0;
    text-align: center;
    background-color: #fbc5b8;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 60px;
    text-align: end;
    position:absolute;
    width: 90vw;
}


nav{
    height: 70px;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#home{
    background-image: url('valami2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
    padding-top: 60px;
}

#homecenter{
    font-family: "Rochester", cursive;
    font-weight: 400;
    color: #D27F78;
    font-size: 5vw;
}

#page2{
    height: 700px;
}
#gallery{
    height: 700px;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

.ring-container{
    display: inline;
    text-align: center;
}

.ring{
    height: 13vw;
    width: 13vw;
    background-color: #D27F78;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding-top: 0.5vw;
}

.ring-circle{
    display: inline-block;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    border: dashed 2px white;
}

.ringicon{
    margin-top: 2vw;
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #555555;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 20px 20px 0px 20px;
}

a:after{
    content: "";
    position: absolute;
    background-color: #D27F78;
    height: 3px;
    width: 0;
    left: 20%;
    bottom: -10px;
    transition: 0.3s;
}

a:hover{
    color: #ffffff;
}

a:hover:after{
    width: 60%;

}

.launch-time{
    display: flex;
    justify-content: center;
}
.launch-time div{
    flex-basis: 12vw;
    font-family: Diphylleia;
    color: white;
    background: #D27F78;
}
.launch-time div p{
    font-size: 5vw; /* Példa méret, állítsd be az igényeid szerint */
    margin-bottom: -2.0vw; /* Példa margó, állítsd be az igényeid szerint */
    width: 100%; /* Töltsük ki a szülőelem szélességét */
}

.launch-time div span{
    font-size: 2vw; /* Példa méret, állítsd be az igényeid szerint */
    margin-bottom: -1.4vw; /* Példa margó, állítsd be az igényeid szerint */
    width: 100%; /* Töltsük ki a szülőelem szélességét */
}

.timeframe{
    border: dashed 2px white;
    margin: 5px;
}
